.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FAEF50;
 margin: 0%;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}


p {
  font-size: 2rem;
  color: #1C36AD;
  font-family: 'Indie Flower', cursive;
}




img {
  width: 80%;
}

footer {
  margin-top: 7% ;
  padding: 2% 2% 2% 2%;
  color: #56C4F5;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


.container-fluid{
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
  color: #56C4F5;
}

.white-section {
  background-color: #EB5F28 ;
   padding:0%;


}
